      h1 {
          margin-top: 0;
      }

      ul {
          margin: 0;
          padding: 0;
          list-style: none;
      }

      form {
          margin: 0 auto;
          width: 400px;
          padding: 1em;
          border: 1px solid Black;
          border-radius: 1em;
      }

      div+div {
          margin-top: 1em;
      }

      label span {
          display: inline-block;
          width: 120px;
          text-align: right;
      }

      input{
          font: 1em sans-serif;
          width: 250px;
          box-sizing: border-box;
          border: 1px solid #999;
      }

      input[type=checkbox], input[type=radio] {
          width: auto;
          border: none;
      }

      input:focus {
          border-color:#fff;
      }


      fieldset {
          width: 250px;
          box-sizing: border-box;
          margin-left: 125px;
          border: 1px solid #999;
      }

      button {
          margin: 20px 0 0 124px;
          background-color:	#D2691E;
      }

      label {
        position: relative;
      }

      label em {
        position: absolute;
        right: 5px;
        top: 20px;
      }